# Default settings for docker-compose
# @see https://docs.docker.com/compose/reference/envvars/#compose_file
COMPOSE_PROJECT_NAME=project_name
COMPOSE_FILE=docker-compose.yml
COMPOSE_CONVERT_WINDOWS_PATHS=1

# Networks
COMPOSE_NETWORKS=laravel-network

# build
PHP_VERSION=7.2
TIMEZONE=UTC
NETWORKS_DRIVER=bridge

# application
APP_USER=www-data
APP_GROUP=www-data
APP_USER_ID=1000
APP_GROUP_ID=1000
APP_CODE_PATH_HOST=./../project_direcotry
APP_CODE_PATH_CONTAINER=/var/www/html

# required so we can reach the nginx server from other containers via that hostname
APP_HOST=Project_name.local

# nginx
NGINX_HOST_HTTP_PORT=80
NGINX_HOST_HTTPS_PORT=443

# Database
DB_VERSION=5.7
DB_ROOT_PASSWORD=haselko
DB_USER=dbuser
DB_USER_PASSWORD=dbuser

# workspace
WORKSPACE_HOST_SSH_PORT=2222
